<a href="https://colab.research.google.com/github/mojtabaSefidi/Dataminig-small-projects/blob/main/Computational_datamining_Ex7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown 13YQLWGs8h7ZMRxnuAdv4Dbr7UB5GfEYP
!unzip abc-news-data.zip

Downloading...
From: https://drive.google.com/uc?id=13YQLWGs8h7ZMRxnuAdv4Dbr7UB5GfEYP
To: /content/abc-news-data.zip
100% 19.5M/19.5M [00:00<00:00, 73.4MB/s]
Archive:  abc-news-data.zip
  inflating: news-data.csv

In [ ]:
import pandas as pd
from sklearn.decomposition import NMF
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
data = pd.read_csv('news-data.csv', error_bad_lines=False)
print('shape of dataset:',data.shape)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

shape of dataset: (1103663, 2)

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [ ]:
vect = TfidfVectorizer(min_df=50, stop_words='english')

X = vect.fit_transform(data.headline_text)

In [ ]:
model = NMF(n_components=10, random_state=5)
model.fit(X)
nmf_features = model.transform(X)

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_nmf.py:294: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  FutureWarning,

In [ ]:
print('Shape of X: ',X.shape)
print('Features Dimensions:',nmf_features.shape)
print('Components Dimensions:',model.components_.shape)

Shape of X:  (1103663, 11213)
Features Dimensions: (1103663, 10)
Components Dimensions: (10, 11213)

In [ ]:
W = nmf_features
W

array([[0.00000000e+00, 0.00000000e+00, 9.97394037e-05, ...,
        6.30975101e-05, 0.00000000e+00, 2.92700700e-03],
       [0.00000000e+00, 0.00000000e+00, 1.64631213e-03, ...,
        4.72839530e-04, 0.00000000e+00, 4.37008970e-03],
       [0.00000000e+00, 0.00000000e+00, 1.58080392e-04, ...,
        0.00000000e+00, 0.00000000e+00, 9.98760757e-03],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.54822606e-04, 1.12871322e-02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 3.18322779e-03],
       [0.00000000e+00, 5.58577663e-04, 1.77855131e-04, ...,
        5.32903838e-05, 1.17048101e-05, 3.05307677e-03]])

In [ ]:
H = model.components_
H

array([[5.15353794e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 6.21867689e-03, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.10135997e-05, 2.43467246e-06],
       [6.39301556e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [1.22303542e-03, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 2.19151709e-03, 5.42389408e-03],
       [2.24747246e-05, 2.80271316e-02, 5.30965009e-02, ...,
        0.00000000e+00, 3.22050993e-04, 0.00000000e+00],
       [2.29280614e-03, 0.00000000e+00, 0.00000000e+00, ...,
        5.51247200e-03, 9.75018796e-03, 1.52735125e-03]])

In [ ]:
components_df = pd.DataFrame(model.components_, columns=vect.get_feature_names())
components_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,000,01,02,03,04,05,06,07,08,09,...,zimbabwean,zimbabwes,zinc,zinifex,zoe,zone,zones,zoning,zoo,zuma
0,0.000515,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000243,0.000000,0.000000,0.000000,0.001377,0.001534,0.000000,0.000000,0.006219,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000019,0.000000,0.000000,...,0.000000,0.000009,0.000601,0.000000,0.001317,0.000096,0.000014,0.000000,0.000011,0.000002
2,0.000639,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.001682,0.000187,0.000000,0.000000,0.000146,0.005309,0.002583,0.000000,0.000000,0.000000
3,0.000050,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000337,0.000537,0.000042,0.000000,0.008660,0.009708,0.001328,0.024154,0.000637
4,0.000603,0.002029,0.011030,0.009208,0.010110,0.004755,0.004782,0.004933,0.005841,0.011264,...,0.000000,0.000763,0.000000,0.000000,0.000127,0.002611,0.005015,0.000556,0.006629,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000240,0.000548,0.000030,0.000367,0.001205,0.000000,0.000000,0.000503,0.000000
6,0.000158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000112,0.000331,0.000000,0.000000,0.006822,0.000000,0.000000,0.007919,0.000000
7,0.001223,0.000000,0.000000,0.000000,0.000521,0.000105,0.000087,0.000790,0.000000,0.000000,...,0.004573,0.000989,0.000000,0.000786,0.001699,0.002618,0.000240,0.000000,0.002192,0.005424
8,0.000022,0.028027,0.053097,0.042028,0.036621,0.038969,0.034321,0.025582,0.033360,0.037268,...,0.000000,0.000000,0.000320,0.000000,0.000125,0.010972,0.001403,0.000000,0.000322,0.000000
9,0.002293,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.002326,0.002482,0.002140,0.001680,0.001404,0.030537,0.013050,0.005512,0.009750,0.001527

In [ ]:
W[100]

array([0.        , 0.        , 0.        , 0.        , 0.00024877,
       0.        , 0.        , 0.        , 0.        , 0.01456581])

In [ ]:
for topic in range(components_df.shape[0]):
    tmp = components_df.iloc[topic]
    print(f'For topic {topic+1} the words with the highest value are:')
    print(tmp.nlargest(10))
    print('\n')

For topic 1 the words with the highest value are:
man         8.396817
charged     3.117248
murder      1.367349
jailed      0.891809
missing     0.880894
stabbing    0.727232
guilty      0.637090
arrested    0.600157
death       0.587411
sydney      0.532504
Name: 0, dtype: float64


For topic 2 the words with the highest value are:
interview    7.471284
extended     0.393083
michael      0.383856
david        0.226665
john         0.222362
james        0.211161
nrl          0.202279
smith        0.179707
ben          0.172380
andrew       0.169546
Name: 1, dtype: float64


For topic 3 the words with the highest value are:
police         6.886678
probe          0.814901
investigate    0.795326
missing        0.679711
search         0.637454
death          0.497555
hunt           0.420141
officer        0.329780
seek           0.313185
shooting       0.300862
Name: 2, dtype: float64


For topic 4 the words with the highest value are:
new         8.436840
zealand     0.571164
laws        0.402800
year        0.368542
home        0.265268
york        0.242442
centre      0.234176
hospital    0.233369
deal        0.220119
opens       0.190645
Name: 3, dtype: float64


For topic 5 the words with the highest value are:
rural       6.200143
national    2.804131
qld         2.662080
news        2.342136
nsw         1.211054
podcast     0.768686
reporter    0.525871
sa          0.477365
health      0.234591
north       0.219903
Name: 4, dtype: float64


For topic 6 the words with the highest value are:
abc              6.010566
news             2.209571
weather          2.192629
business         1.925450
sport            1.640363
market           1.310986
entertainment    0.926865
analysis         0.924629
talks            0.227601
speaks           0.194431
Name: 5, dtype: float64


For topic 7 the words with the highest value are:
crash      5.455308
car        2.480800
dies       1.841566
killed     1.837934
fatal      1.451367
woman      1.178756
road       0.986225
driver     0.875721
plane      0.778262
injured    0.651799
Name: 6, dtype: float64


For topic 8 the words with the highest value are:
court      7.931729
accused    2.308421
face       2.058921
murder     1.515629
faces      1.053453
charges    1.052557
told       0.869612
case       0.766514
high       0.689719
sex        0.600428
Name: 7, dtype: float64


For topic 9 the words with the highest value are:
country    3.850864
hour       3.468195
wa         1.608666
nsw        1.492966
2014       1.090257
2015       1.075701
podcast    1.054856
vic        0.755764
tas        0.658372
2013       0.643352
Name: 8, dtype: float64


For topic 10 the words with the highest value are:
govt         2.101926
council      2.040503
says         1.651489
plan         1.185716
water        1.081075
health       0.794900
urged        0.715581
australia    0.661426
report       0.548353
funding      0.529309
Name: 9, dtype: float64

In [ ]:
my_news = """15-year-old girl stabbed to death in grocery store during fight with 4 younger girls
Authorities said they gathered lots of evidence from videos on social media"""
 
X = vect.transform([my_news])
nmf_features = model.transform(X)
pd.DataFrame(nmf_features)

,0,1,2,3,4,5,6,7,8,9
0,0.002345,0.000042,0.002354,0.001428,0.000031,0.000179,0.000599,0.001379,0.000886,0.00416

In [ ]:
pd.DataFrame(nmf_features).idxmax(axis=1)

0    9
dtype: int64